@charset "ISO-8859-1";
body{
	background-image: url("Image/r3.jpg");
	background-size: cover;
	
	}


.head{
	font-size: 40px;
}



.text{
	width: 220px;
	height: 30px;
	font-family: Arial, sans-serif;
}

.form-table{
	background-color: #D7EDFF;
	border-color: black;
	border: 5px solid;
	border-radius: 5px;
	
}

.content{
	position: relative;
}

.submit{
	width: 200px;
}



/*--------------------navigation-bar----------------------*/

nav {
	background-color: black;
    overflow: hidden;
    height: 60px;
    position: relative;
    opacity: 0.6;
}   


nav li {
	list-style-type: none;
    display: inline;
    padding: 0px;
    margin-right: 0px;
    margin-left: 0px;
    vertical-align: center;
    padding-top: 10px;
    font-size: 21px;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 35px;
    margin-right: 0px;
    margin-left: 0px;
    height: 65px;
    width: 500px;
            
}
        
        
nav a:hover{
    background-color: #A5A8AB;
    color: black;
    transition: background-color 0.3s;
    font: bold;
}

nav button{
	height: 25px;
	width: 60px;
	margin-left: 30px;
	font-size: 15px;
	cursor: pointer;
}

nav button:hover{
	background-color: #BDDDF7;
}




/*-----------------  Footer -------------------*/
footer{
	background-color: black;
	height: 130px;
    opacity: 0.8;
}



.logo{
	width: 180px;
	height: 95px;
}

.copyright{
	background-color: white;
}

.footer-content{
	text-align: center;
	color: white;
}

footer ul{
	list-style-type: none;
}

.footer-content td{
	width: 504px;
}


/*------------------------header-----------------------*/

.logo-name{
    width: 240px;
    height:170px;
    margin-bottom: 60px;
}

header{
    text-align: center;
    background-color: black;
    height: 170px;
    opacity: 0.6;
}